{% extends 'base.html.twig' %}

{% block title %}Commentaires
{% endblock %}

{% block header %}Commentaires
{% endblock %}

{% block body %}

	<div class="row my-2 my-md-3 mt-4">

		<h2 class="text-light text-center col-12 py-3">Un avis ?</h2>

		{% if app.user %}

			<div id="add_comment_form" class="row my-5 mx-auto">

				{{ form_start(commentForm) }}

				{{ form_errors(commentForm) }}

				{{ form_row(commentForm.content) }}

				{{ form_row(commentForm.save) }}

				{{ form_end(commentForm) }}

			</div>

		{% else %}
			<p class="text-center text-warning mt-4 col-12">Vous devez
				<a href="{{ path('login') }}">vous connecter</a>
				pour laisser un commentaire !</p>
		{% endif %}

		<h2 class="text-center text-light py-3 col-12 mt-4">Commentaires ({{ article.comments|length }})</h2>

		<div class="d-flex flex-column overflow-auto position-relative">

			{% for comment in article.comments %}
				<div id="global-view" class="d-flex w-80 mb-5 flex-column mx-auto">

					<div class="text-center mt-3 text-break">
						<p class="justify-content-center d-flex flex-column flex-md-row text-light text-break">Publié le<span class="mx-1 fw-bold text-light">{{ comment.publicationDate|date('d/m/Y') }}</span>à<span class="mx-1 fw-bold text-light">{{ comment.publicationDate|date('H\\hi') }}</span>par<span class="mx-1 fw-bold text-light">{{ comment.author.firstname }} {{ comment.author.lastname }}</span></p>
					</div>
					<hr class="text-light mx-auto w-25">
					<div class="text-center text-break">
						<p class="article-size text-light">Contenu:</p>
						<br>
						<p class="article-size text-light text-break">
							<span class="fw-bold">{{ comment.content|nl2br }}</span>
						</p>
					</div>

					{% if (is_granted('ROLE_ADMIN')) %}
						{# <a href="{{ path('comment_delete', {'id': comment.id, csrf_token: csrf_token('comment_delete_' ~ comment.id )}) }}" id="comment-delete" class="mt-5 text-decoration-none text-center">
							<i class="fa-solid fa-trash"></i>
							Supprimer</a> #}
					{% endif %}

				</div>

			{% else %}

				<p class="article-size my-5 col-12 text-center text-light bg-none">Soyez le premier à commenter !</p>

			{% endfor %}

		</div>

	</div>

{% endblock %}
