<div style="display: flex; justify-content: center; text-align: center; margin-top: 1.5rem;">
  <p><span style="font-weight: bold;">La commande numéro {{ commande_id }} d'un montant de {{ commande_price }}€ chez Lhannz a été annulée par l'utilisateur!</p>
</div>
<div style="display: flex; justify-content: center; text-align: center; margin-top: 1.5rem;">
   <p>Qui a annulée sa commande: <span style="font-weight: bold;">{{ user_firstname }} {{ user_lastname }}</span></p>
</div>
<div style="display: flex; justify-content: center; text-align: center; margin-top: 1.5rem;">
  <p>Titre de l'article: <span style="font-weight: bold;">{{ commande_title }}</span></p>
</div>
<div style="display: flex; justify-content: center; text-align: center; margin-top: 1.5rem;">
  <p>Recontactez-le avec ce mail: <span style="font-weight: bold;">{{ user_email }}</span></p>
</div>