{% set route = app.request.attributes.get('_route')%}
<!DOCTYPE html>
<html lang="fr">
	<head>
		<!--[if lt IE 9]>
		        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		        <![endif]-->
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>
			{% block title %}{% endblock %}
			- Lhannz</title>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
		<link href="https://fonts.googleapis.com/css2?family=Ysabeau&display=swap" rel="stylesheet">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Calligraffitti&family=Open+Sans:wght@800&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="{{ asset('CSS/bootstrap.min.css') }}">
		<link rel="stylesheet" href="{{ asset('CSS/styles.css') }}">
		<script src="{{ asset(('JS/bootstrap.bundle.min.js')) }}" defer></script>
		<script src="{{ asset(('JS/script.js')) }}" defer></script>
	</head>
	<body>

		{# <img id="logo" class="d-none d-md-block" src="{{ asset('Images/LhannzBlack.png') }}"> #}

		<div class="container-fluid">

			{% include '_partials/_navbar.html.twig' %}

			<div class="row">

				<header class="col-12">

					<h1 class="text-light fs-1 text-center" id="title"> {% block header %}{% endblock %}
						</h1>

					</header>

				</div>

				{% include '_partials/_flashes.html.twig' %}

				{% block body %}{% endblock %}

				<div class="row mt-6">
					<nav class="d-flex w-32 mx-auto justify-content-center mb-5 flex-md-row flex-column">
						<a class="link2 me-md-4 mb-2 linked" target="_blank" href="https://www.facebook.com/CREATIONTOILE">Facebook</a>
						<a class="link2 me-md-4 mb-2 linked" target="_blank" href="https://www.instagram.com/lhannz_/">Instagram</a>
						<a class="link2 me-md-4 mb-2 linked" target="_blank" href="https://www.tiktok.com/@lhannz_">TikTok</a>
						<a class="link2 linked" href="{{ path('mentions_legales') }}">Mentions Légales</a>
					</nav>
				</div>

			</div>
		</body>
	</html>
